<div id="exTab1" class="container">	
  <ul  class="nav nav-pills">
    <li class="active">
      <a  id="tab1" href="#1a" data-toggle="tab">Registrar</a>
    </li>
    <li>
      <a id="tab2" href="#2a" data-toggle="tab">Consultar</a>
    </li>	
  </ul>
  <div class="tab-content clearfix">
    <div class="tab-pane active" id="1a">
      <div class="Icon">
        <span class="glyphicon glyphicon-user"></span>
      </div>
      <form #signupForm="ngForm" >
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text"  class="form-control" name="nombre" id="nombre" placeholder="Nombre" aria-describedby="sizing-addon1" [(ngModel)]="usuario.nombre" required>
				</div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-pencil"></i></span>
            <input type="text"  class="form-control" name="rif" id="rif" placeholder="RIF" aria-describedby="sizing-addon1" [(ngModel)]="usuario.rif" required>
				</div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-earphone"></i></span>
            <input type="text"  class="form-control" name="telefono" id="telefono" placeholder="Telefono" aria-describedby="sizing-addon1" [(ngModel)]="usuario.telefono" required>
				</div>
        <br>

        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="email"  class="form-control" name="email" id="email" placeholder="Email" aria-describedby="sizing-addon1" [(ngModel)]="usuario.email" required>
				</div>
        <br>

        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-map-marker"></i></span>
            <input type="text"  class="form-control" name="direccion" id="direccion" placeholder="Direccion" aria-describedby="sizing-addon1" [(ngModel)]="usuario.direccion" required>
				</div>
        <br>
          
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text"  class="form-control" name="contacto" id="contacto" placeholder="Contacto" aria-describedby="sizing-addon1" [(ngModel)]="usuario.contacto" required>
				</div>
        <br>

        <button id="registra" type="submit" (click)= "registerUser()"  class="btn btn-default">Registrar</button>
        <button id="actualiza" type="submit" (click)= "updateUser(cliente)" class="btn btn-default">Actualizar</button>
        
      </form>
      <br>
      <button (click)="nuevo()" class="btn btn-success">Agregar nuevo</button>

    </div>
		<div class="tab-pane" id="2a">
      <input #id type="text">
      <button (click)="consulta(id.value)" (click)="div2()" class="btn btn-default" >Buscar por RIF</button>
      <br> 		
      <button (click)="buscarData()" (click)="div()" class="btn btn-success">Buscar todos</button>
      <br>
      <br>
      <div class="panel panel-default" id = "registros">
        <div class="panel-heading">Registros</div>      
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Rif</th>
              <th>Telefono</th>
              <th>Email</th>
              <th>Direccion</th>
              <th>Contacto</th>
              <th>Accesos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.rif}}</td>
              <td>{{cliente.telefono}}</td>
              <td>{{cliente.email}}</td>
              <td>{{cliente.direccion}}</td>
              <td>{{cliente.contacto}}</td>
              <td>
                <ul>
                  <li *ngFor="let ac of cliente.accesos">
                    url: {{ac.url}}, user: {{ac.username}}, pass: {{ac.password}}
                  </li>
                </ul>                   
              </td>      
            </tr>
          </tbody>
        </table>
      </div>

      <div class="container" id = "registro">
        <h2>Registro</h2>
        <ul class="list-group">
          <li class="list-group-item"><strong>Nombre:</strong> {{cliente.nombre}}</li>
          <li class="list-group-item"><strong>Rif:</strong> {{cliente.rif}}</li>
          <li class="list-group-item"><strong>Telefono:</strong> {{cliente.telefono}}</li>
          <li class="list-group-item"><strong>Email:</strong> {{cliente.email}}</li>
          <li class="list-group-item"><strong>Direccion:</strong> {{cliente.direccion}}</li>
          <li class="list-group-item"><strong>Contacto:</strong> {{cliente.contacto}}</li>
          <li class="list-group-item"><strong>Accesos:</strong>
            <ul>
              <li *ngFor="let c of cliente.accesos">
                url: {{c.url}}, user: {{c.username}}, pass: {{c.password}}<a (click)="updateAcceso(c)"><span class="glyphicon glyphicon-edit"></span></a> <a (click)="eliminaAcceso(c, cliente)"><span class="glyphicon glyphicon-remove"></span></a>
              </li>
            </ul>
          </li>
        </ul>
        <div id="divAcceso" class="container">
          <form #accessForm="ngForm">
          <div class="form-group">
            <label for="url">Url</label>
            <input type="text"  class="form-control" name="url" id="url" [(ngModel)]="usuario.accesos.url">
          </div>

          <div class="form-group">
            <label for="user">Usuario</label>
            <input type="text"  class="form-control" name="user" id="user" [(ngModel)]="usuario.accesos.user">
          </div>

          <div class="form-group">
            <label for="pass">Password</label>
            <input type="text"  class="form-control" name="pass" id="pass" [(ngModel)]="usuario.accesos.pass">
          </div>
          <button *ngIf="e==false" (click)="registraAcceso(cliente)" id="registraAcceso" type="submit"  class="btn btn-default">Agregar</button>
          <button *ngIf="e==true" (click)="actualizaAcceso(cliente)" id="updateAcceso" type="submit"  class="btn btn-default">Editar</button>        
        </form>
      </div>

        <button (click)="eliminar(cliente)" class="btn btn-danger">Eliminar</button>
        <button (click)="actualizar(cliente)" class="btn btn-info">Actualizar</button>
        <button (click)="aggAcceso()" class="btn btn-success">Agregar Accesos</button>
      </div>

    </div>
  </div>
</div>

